@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    background-color: #608e9f;
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
}
.noite{
    background-color:#1a3f4d;
}
.tarde{
    background-color:#2f5c6c;
}
.manha{
    background-color:#5d9db5;
}
.madrugada{
    background-color:#061e27;
}

#botaoGatinho{
    border: none;
    border-radius: 20px;
    height: 22px;
    background-color: antiquewhite;
    color: black;
}
